## Import Packages

In [1]:
import pandas as pd
import numpy as np

In [106]:
pd.__version__

'2.3.2'

## Load CSV

In [2]:
car_fuel_efficiency_df  = pd.read_csv("car_fuel_efficiency.csv")

In [3]:
car_fuel_efficiency_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [7]:
filtered_car_fuel_efficiency_df =  car_fuel_efficiency_df[["engine_displacement",'horsepower','vehicle_weight','model_year','fuel_efficiency_mpg']]
filtered_car_fuel_efficiency_df.head()

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
0,170,159.0,3413.433759,2003,13.231729
1,130,97.0,3149.664934,2007,13.688217
2,170,78.0,3079.038997,2018,14.246341
3,220,NaN,2542.392402,2009,16.912736
4,210,140.0,3460.870990,2009,12.488369

## QUESTION 1

In [16]:
filtered_car_fuel_efficiency_df.isna().sum()

engine_displacement      0
horsepower             708
vehicle_weight           0
model_year               0
fuel_efficiency_mpg      0
dtype: int64

## QUESTION 2

In [18]:
filtered_car_fuel_efficiency_df['horsepower'].median()

np.float64(149.0)